#root {
  font-family: 'Inter', sans-serif;
}

.AppRouter {
  grid-area: AppRout;
}

#home {
  display: grid;
  grid-template-rows: 1fr 3fr 500px;
  grid-template-columns: minmax(250px, 1fr) 5fr;
  grid-template-areas:
    "header header"
    "nav center"
    "debtgroups center";
}

.fullHeader {
  grid-area: header;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: minmax(250px, 1fr) 5fr;
  grid-template-areas:
    "headerLeft headerRight"
}